HOST=
PORT=
SERVER_URL=
FRONTEND_URL=
CORS_WHITELIST=
DATABASE_URL=
SESSION_SECRET=
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
DTAILS_SHARED_SECRET=
KNEX_DEBUG_MODE=
SHOPIFY_APP_NAME=
POSTMARK_API_KEY=
POSTMARK_FROM_EMAIL=
SUPPORT_MAIL=
SENTRY_DSN=